<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="card text-center py-3">
      <i class="icn fa fa-quote-left fa-3x" aria-hidden="true"></i>
      <div class="card-body mt-3 ">
        <p class="card-text mx-2 text-muted" ><i>"we are creezy a design and branding parameters worldwide been working in his." </i></p>
        <div class="avatar mx-auto my-4">
          <img src="https://i.pravatar.cc/300?img=26" width="100%"/>
        </div>
        <span><small><b>- Eunice Spaulding</b></small></span>
        <br>
        <span style="color:#21c967 ;"><small><i>Creezy</i></small></span>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card text-center py-3">
      <i class="icn fa fa-quote-left fa-3x" aria-hidden="true"></i>
      <div class="card-body mt-3 ">
        <p class="card-text mx-2 text-muted" ><i>"we are creezy a design and branding parameters worldwide been working in his." </i></p>
        <div class="avatar mx-auto my-4">
          <img src="https://i.pravatar.cc/300?img=26" width="100%"/>
        </div>
        <span><small><b>- Eunice Spaulding</b></small></span>
        <br>
        <span><small><i>Creezy</i></small></span>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card text-center py-3">
      <i class="icn fa fa-quote-left fa-3x" aria-hidden="true"></i>
      <div class="card-body mt-3 ">
        <p class="card-text mx-2 text-muted" ><i>"we are creezy a design and branding parameters worldwide been working in his." </i></p>
        <div class="avatar mx-auto my-4">
          <img src="https://i.pravatar.cc/300?img=26" width="100%"/>
        </div>
        <span><small><b>- Eunice Spaulding</b></small></span>
        <br>
        <span><small><i>Creezy</i></small></span>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card text-center py-3">
      <i class="icn fa fa-quote-left fa-3x" aria-hidden="true"></i>
      <div class="card-body mt-3 ">
        <p class="card-text mx-2 text-muted" ><i>"we are creezy a design and branding parameters worldwide been working in his." </i></p>
        <div class="avatar mx-auto my-4">
          <img src="https://i.pravatar.cc/300?img=26" width="100%"/>
        </div>
        <span><small><b>- Eunice Spaulding</b></small></span>
        <br>
        <span><small><i>Creezy</i></small></span>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card text-center py-3">
      <i class="icn fa fa-quote-left fa-3x" aria-hidden="true"></i>
      <div class="card-body mt-3 ">
        <p class="card-text mx-2 text-muted" ><i>"we are creezy a design and branding parameters worldwide been working in his." </i></p>
        <div class="avatar mx-auto my-4">
          <img src="https://i.pravatar.cc/300?img=26" width="100%"/>
        </div>
        <span><small><b>- Eunice Spaulding</b></small></span>
        <br>
        <span><small><i>Creezy</i></small></span>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>