<div class="container-fluid pt-3" style="background-color: #f9f9fb;">
    <div class="text-center my-4">
        <b style="color:#21c967 ;">Testimonial</b>
        <h3><b>What Clients Says?</b></h3>
        <img src="../../assets/dots.svg" width="60px" />
        <p class="mx-auto col-lg-5 col-md-8 my-2 text-muted">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500
        </p>
    </div>
    <div class="mx-auto" style="width:80%">
        <app-carousel></app-carousel>
    </div>
    

</div>