<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <a href="#" class="navbar-brand mr-3">App</a>
        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
            <div class="navbar-nav">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"
                    class="nav-item nav-link">Home</a>

                <a routerLinkActive="active" routerLink="clients" class="nav-item nav-link">Clients</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a routerLinkActive="active" routerLink="contacts" class="nav-item nav-link">Contact US</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>